@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {

    --beige: #4f4c48;
    --beige-C: #918d88;
    --noir: #000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Oswald", arial;
    overflow-x: hidden;
}